<!-- Note this Component is For Single display panel not array or list of display panel -->

<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">{{itemObj.name}}</div>
      <div class="panel-body">
        <strong style="color : red">
          {{itemObj.content}}
        </strong>
      </div>
    </div>
  </div>
</div>

<!--  #####################  <ng-content>  ####################### -->

<!-- Understanding Concept of ng-content -->
<!-- 

<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">{{itemObj.name}}</div>

      <ng-content></ng-content>

    </div>
  </div>
</div>
 -->

<!-- ############################################ -->
