<div class="row">
  <div class="col-xs-12">
    <label>Server Name</label>
    <!-- <input type="text" class="form-control" [(ngModel)]="newServerContent"> -->
    <!-- 
        Instead of 2 way data-binding we will be using - local refernce variable (provided by angular)
        myVara -> is local reference vara for <input> element
       -->
    <input type="text" class="form-control" #myVara>
    <br>
    <button class="btn btn-primary" (click)="onAddServerChildComp(myVara)">Add Server</button>
    <!--
       Passing the local refernce vara of input text as argum param inside 
       onAddServerChildComp() func.
       Note : local reference vara can only be used inside (.html) page, not in (.ts) file
       -->
  </div>
</div>
