<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12">
      <label>Server Name</label>
      <input type="text" class="form-control" [(ngModel)]="newServerName">
      <br>
      <button class="btn btn-primary" (click)="onAddServer()">Add Server</button>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default" *ngFor="let itemObj of serverElement">
        <div class="panel-heading">{{itemObj.name}}</div>
        <div class="panel-body">
          <strong style="color : red">
            {{itemObj.content}}
          </strong>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- Refactoring the code the Big component into Several Small Component -->

<div class="container">
  <app-input-panel (childComp_Event)="onAddServer($event)"></app-input-panel>
  <!-- 
  (childComp_Event)="onAddServer()" -> "event binding the custome element" i.e-
  parentCom_Event is our custome event which will trigger the onAddServer() function,
  This custome event (parentCom_Event) will be triggered/emitted only when child Component (InputPanelComp) 
  will emit an event [Child Compon -> Parent Compon], Bcoz Child Component has btn which were r listening
  too.
  Note : childComp_Event - is custome event which is specified in child Component.
 -->
  <hr>

  <app-display-panel  *ngFor="let elementObj of serverElement" [childCompo_Property]="elementObj"></app-display-panel>

  <!-- 
  [childCompo_Property]="elementObj" ->"property binding the custome element" ie- 
  childCompo_Property is custom attribute (childCompo_Property- property in the child Class) which 
  is been binded on <app-dispaly-panel> which is cutome elem/tag.
  Passing inform from Parent Comp (AppComp) to child comp (DisplayPanelComp)
   -->


  <!-- #####################  <ng-content>  ####################### -->
  <!-- Understanding Concept of ng-content -->
  <!-- 
  <app-display-panel *ngFor="let elementObj of serverElement" [childCompo_Property]="elementObj">
    <div class="panel-body">`
      <strong style="color : red">
        {{elementObj.content}}
      </strong>
    </div>
  </app-display-panel> -->
  <!-- ################################################################# -->

</div>
<hr>
<hr>
<div class="container">
  <label>Are you a developer : </label>
  <input type="checkbox" #mylocalReferVaraCheckBox (change)="onChangeOfCheckBox()">
</div>
